<h1 class="text-center">Your cocktail list</h1>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%=image_tag("cocktail2.jpg", :alt => "First slide")%>
    </div>
    <div class="item">
      <%=image_tag("water.jpg", :alt => "First slide")%>
    </div>
    <div class="item">
       <%=image_tag("drink.jpg", :alt => "First slide")%>
    </div>
  </div>
</div>

<div class="text-center padded">
  <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <% if cocktail.photo? %>
           <div class="text-center card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>');">
        <% else %>
        <div class="text-center card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path("san_francisco_drdfvx",
              width: 400, height: 300, crop: :fill) %>');">
        <% end %>
        <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-link" %>
            <!-- <%= link_to cocktail.name, cocktail %> another way of passing the instance ID -->
        </div>
      </div>
      <% end %>
    </div>
</div>
